/* Reset padding, margin, and box-sizing for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Home section with background image */
.home {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(images/doctor.jpg) no-repeat;
    background-size: cover; /* Ensure the background covers the entire area */
    width: 100%;
    padding: 180px 0;
}

/* Responsive styles for section.doctor */
section.doctor img {
    width: 100%; /* Set the width to 100% of its container */
    max-width: 130px; /* Ensure the image doesn’t exceed a specific maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make the image circular */
}

/* Media query for small devices */
@media (max-width: 768px) {
    .home {
        padding: 120px 0; /* Adjust padding for smaller screens */
    }
    
    section.doctor img {
        max-width: 100px; /* Adjust maximum width for smaller screens */
    }
}

hr {
    width: 10%;
    border-width: 4px;
    background-color: #A52A2A;
    margin: auto;
    margin-bottom: 80px;
}

.color{
    color: blue;

}

.contact{
    background:linear-gradient(rgba(246,4,65,0.685) ,rgba(255,5,26)), url(images/doc-1.jpeg)no-repeat;
    background-size: 100% 100%;

}




li:hover{
    background-color: #f5f5f0;

}

.navbar-nav{
//   background-color: green;
    font-size: large;
}
.navbar-brand{
    font-size: xx-large ;

}


.navbar{
    width:100%
}

.col-lg-6:hover,.col-lg-3:hover,.col-lg-4:hover{

    transform: translateY(-15px);

}
.page-footer{
    background-color: lightgray;
    font-size: large;
}
/*.col-lg-3{*/
/*	transform: translateY(-15px);*/

/*}*/

.btn-floating:hover{
    background-color: gray;
    border-radius: 100%;

}